

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: #04A5FC
}

.profile-photo {
	width: 4rem
	height auto;
}

.robscustomautocenter {
	margin: auto;
	width: 99%;

	padding: 10px;
  }

body {
	background-color: #0c0c0c;

}

.img-fluid {
    max-width: 30%;
    height: auto;
}

a {
    color: #04A5FC;
    text-decoration: none;
    background-color: transparent;
  }

.bg-light {
    background-color:#04A5FC!important;
}

button {
    color:#04A5FC;
}

.navbar-nav li a {
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.navbar-brand {
    color: black;
    font-family: Alegreya;
    font-weight: bold;
    font-size: 2.5rem;
}

header {
    color: #04A5FC;
    font-family: Alegreya;
    font-weight: bold;
    font-size: 2.5rem;
    margin-inline-start: 15px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 5px;
    margin-inline-end: 0px;
    color: #04A5FC;
    font-family: Alegreya;
    font-weight: bold;
    font-size: 1rem;
}