

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: #04A5FC
}

.profile-photo {
	width: 4rem
	height auto;
}

.robscustomautocenter {
	margin: auto;
	width: 85%;

	padding: 10px;
  }

body {
	background-color: #0c0c0c;

}

.img-fluid {
    max-width: 30%;
    height: auto;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.bg-light {
    background-color: #f8f9fa!important;
}
